.heading {
  width: auto;
  composes: heading from '../../brand.css';
}

.heading:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}

.container {
  margin-top: 3em;
  composes: main__container from '../../app.module.css';
}

.card {
  min-width: 300;
  max-width: 500;
  width: 100%;
  position: 'relative';
  top: 0px;
}

.media {
  height: 200;
  padding: 5em 1em 5em 1em;
  position: 'relative';
  top: 0px;
}

.topBar {
  display: block;
  padding: 2em 0 1em 0;
}
