/* Card Container */

.card {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  background-color: white;
  position: 'relative';
  top: 0px;
}

.media {
  height: 200px;
  padding: 5em 1em 5em 1em;
  position: 'relative';
  top: 0px;
}

.listContainer {
  display: flex;
  justify-content: space-between;
}

.topBar {
  display: block;
  padding: 2em 0 1em 0;
}

.list {
  border: 1px solid var(--border-color);
  border-top: none;
  background-color: var(--gray-color);
}

.list__item {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  border-top: 1px solid var(--border-color);
  justify-content: space-between;
  align-items: flex-end;
}

.list__item__title {
  font-size: 20px;
  flex-grow: 2;
}

.heading {
  composes: heading from '../brand.css';
}

.button {
  composes: button from '../brand.css';
}
